<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="zh-CN" class="ie ie6">
<![endif]-->
<!--[if IE 7]>
<html lang="zh-CN" class="ie ie7">
<![endif]-->
<!--[if IE 8]>
<html lang="zh-CN" class="ie ie8">
<![endif]-->
<!--[if gt IE 8]>
<html lang="zh-CN" class="ie ie9">
<![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <base href="/group/">
        <title>豌豆荚游戏小组</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
    </head>
    <body>
        <div class="w-group-ctn">
            <div class="g-header" ng-controller="AccountController as ctrl">
                <div class="w-container">
                    <div class="logo">
                        <a ng-click="ctrl.gotoHome()">
                            <img src="images/logo.png" alt="豌豆荚游戏小组">
                        </a>
                    </div>
                    <div class="guide">
                        <span class="text" ng-if="!ctrl.isLoggedIn">
                            <a ng-click="ctrl.showRegister()">注册豌豆荚账号</a>，立即加入你喜爱的游戏社区。
                        </span>
                    </div>
                    <div ng-if="!ctrl.isLoggedIn" class="action action-login">
                        <button class="w-btn w-btn-primary" ng-click="ctrl.showLogin()">登录</button>
                    </div>
                    <div ng-if="ctrl.isLoggedIn" class="action action-user dropdown dropdown-toggle" ng-cloak>
                        <span class="nick g-nick">{{ ctrl.user.nick }}</span>
                        <div class="avatar" ng-class="{'new': ctrl.hasUnread}">
                            <img class="g-avatar g-avatar-small" ng-src="{{ ctrl.user.avatar }}">
                        </div>
                        <ul class="dropdown-menu">
                            <li><a ng-click="ctrl.showNotifications()">消息提醒</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="ctrl.gotoUser()">个人中心</a></li>
                            <li><a ng-click="ctrl.gotoSettings()">修改个人资料</a></li>
                            <li><a ng-click="ctrl.showLogout()">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="g-main">
                <div class="w-container" ng-view></div>
            </div>
        </div>

        <script src="http://s.wdjimg.com/googleanalytics/analytics.js"></script>
        <!-- build:js javascripts/app.js -->
        <script data-main="javascripts/main" src="components/requirejs/require.js"></script>
        <!-- endbuild -->
    </body>
</html>
