<div class="g-post">
    <h4>修改{{ ctrl.groupName ? ' ' + ctrl.groupName + ' 小组的' : '' }}话题</h4>
    <form class="g-publish" ng-submit="ctrl.postTopic()">
        <div class="content">
            <textarea cmty-autosize class="w-input w-input-block" rows="10" ng-model="ctrl.message" placeholder="{{ ctrl.placeholder }}"></textarea>
            <ul class="pics" ng-show="ctrl.pictures.length">
                <li ng-repeat="pic in ctrl.pictures">
                    <img ng-src="{{ pic && 'http://img.wdjimg.com/image/community/' + pic }}">
                    <span class="delete" ng-click="ctrl.deletePicture(pic)">删除</span>
                </li>
            </ul>
        </div>
        <div class="action w-cf">
            <div class="upload" ng-if="ctrl.pictures.length < 9">
                <span class="g-icon g-icon-image"></span>
                <span class="text">添加照片</span>
                <input cmty-upload upload-before="ctrl.uploadBefore()" upload-progress="ctrl.uploadProgress(e, data)" upload-done="ctrl.uploadDone(e, data)" upload-fail="ctrl.uploadFail(e, data);" type="file" name="image">
            </div>
            <div class="post">
                <a class="return" ng-click="ctrl.gotoTopic()">取消</a>
                <button class="w-btn w-btn-primary w-btn-large" ng-disabled="!ctrl.message && ctrl.pictures.length === 0">修改</button>
            </div>
        </div>
    </form>
</div>
